### ANEXO II: COMUNAS Y BARRIOS
En este anexo se analiza las comunas y los barrios dentro de las comunas

In [2]:
import pandas as pd
import numpy as np

### COMUNAS

In [3]:
comunas = pd.read_csv(r'DataBases\DataBases_complementarias\comunas.csv', encoding='latin1')
comunas

,"ID,N,4,0","OBJETO,C,50","COMUNAS,N,19,11","BARRIOS,C,250","PERIMETRO,N,19,11","AREA,N,19,11"
0,1,LIMITE COMUNAL,2,RECOLETA,21452.838648,6.317265e+06
1,3,LIMITE COMUNAL,6,CABALLITO,10990.964471,6.851029e+06
2,6,LIMITE COMUNAL,10,FLORESTA - MONTE CASTRO - VELEZ SARSFIELD - VE...,18332.037457,1.265656e+07
3,7,LIMITE COMUNAL,11,VILLA DEL PARQUE - VILLA DEVOTO - VILLA GRAL....,19987.696155,1.412004e+07
4,8,LIMITE COMUNAL,12,COGHLAN - SAAVEDRA - VILLA PUEYRREDON - VILLA ...,17232.189372,1.557093e+07
5,9,LIMITE COMUNAL,14,PALERMO,22126.531858,1.584587e+07
6,11,LIMITE COMUNAL,15,AGRONOMIA - CHACARITA - PARQUE CHAS - PATERN...,17832.585580,1.432290e+07
7,15,LIMITE COMUNAL,13,BELGRANO - COLEGIALES - NUÃEZ,26198.826953,1.471321e+07
8,13,LIMITE COMUNAL,4,BARRACAS - BOCA - NUEVA POMPEYA - PARQUE PATRI...,35423.282799,2.168464e+07
9,2,LIMITE COMUNAL,5,ALMAGRO - BOEDO,12323.432479,6.660603e+06
10,4,LIMITE COMUNAL,7,FLORES - PARQUE CHACABUCO,17972.257870,1.242290e+07
11,10,LIMITE COMUNAL,3,BALVANERA - SAN CRISTOBAL,10486.260809,6.385991e+06
12,5,LIMITE COMUNAL,9,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07
13,12,LIMITE COMUNAL,8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07
14,14,LIMITE COMUNAL,1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07

In [4]:
comunas.drop(['ID,N,4,0', 'OBJETO,C,50', 'PERIMETRO,N,19,11', 'AREA,N,19,11'], axis=1, inplace=True)

In [5]:
comunas.rename(columns={'COMUNAS,N,19,11': 'comuna'}, inplace=True)
comunas.rename(columns={'BARRIOS,C,250': 'barrios'}, inplace=True)

In [6]:
comunas

    comuna                                            barrios
0        2                                           RECOLETA
1        6                                          CABALLITO
2       10  FLORESTA - MONTE CASTRO - VELEZ SARSFIELD - VE...
3       11  VILLA DEL PARQUE - VILLA  DEVOTO - VILLA GRAL....
4       12  COGHLAN - SAAVEDRA - VILLA PUEYRREDON - VILLA ...
5       14                                            PALERMO
6       15  AGRONOMIA - CHACARITA -  PARQUE CHAS -  PATERN...
7       13                     BELGRANO - COLEGIALES - NUÃEZ
8        4  BARRACAS - BOCA - NUEVA POMPEYA - PARQUE PATRI...
9        5                                    ALMAGRO - BOEDO
10       7                          FLORES - PARQUE CHACABUCO
11       3                          BALVANERA - SAN CRISTOBAL
12       9            LINIERS - MATADEROS - PARQUE AVELLANEDA
13       8     VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI
14       1  CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...

In [7]:
comunas.to_csv('comunas2.csv', index=False, encoding = 'latin1')

## LOCALES BAILABLES Y COMUNAS:

Con el fin de continuar este análisis exploratorio de los datos, importo una base de datos de locales bailables y le hago un pequeño ETL para poder cruzaar datos.

In [50]:
bailables = pd.read_csv(r'DataBases\DataBases_complementarias\registro-historico-acumulado-de-locales-bailables.csv', encoding='latin1')
bailables

,periodo,nombre,longitud,latitud,direccion,piso,barrio,comuna,codigo_postal,codigo_postal_argentino,...,fecha_disposicion_de_rechazo,fecha_disp_inscripcion,fecha_disp_re_inscripcion,fecha_envio,notificado,numero_dips,numero_disposicion_de_recalculo_capacidad,numero_disp_de_rechazo,numero_expediente,numero_registro
0,2016-SEM10,ACQUA LOUNGE,-58.363836,-34.601494,MANSO JUANA 305,PLANTA BAJA,PUERTO MADERO,COMUNA 01,1107,C1107CBG,...,,06/12/2007,06/03/2014,,,25,101,,19740/07,95
1,2016-SEM10,AMERIKA,-58.423558,-34.598690,GASCON 1036,,ALMAGRO,COMUNA 05,1181,C1181ACT,...,,14/07/2005,23/11/2015,,,110,158,,10601/05,62
2,2016-SEM10,AMNESIA,-58.469873,-34.629937,NAZCA AV. 55,,FLORES,COMUNA 07,1406,C1406AIA,...,,20/10/2010,23/10/2015,,,102,91,,10617/05,37
3,2016-SEM10,ANGELÂ´S DISCO,-58.398115,-34.601096,VIAMONTE 2168,,BALVANERA,COMUNA 03,1056,C1056ABH,...,,,,,,36,92,,11627/05,41
4,2016-SEM10,ASBURY ROCK,-58.471661,-34.631147,RIVADAVIA AV. 7523,,FLORES,COMUNA 07,1406,C1406GMF,...,,21/02/2006,09/03/2015,,,17,12,,36839/05,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55197,2019-21 al 27 de diciembre,ROSE IN RIO,NaN,NaN,AV. RAFAEL \nOBLIGADO1221,NaN,Palermo,Comuna 14,1425.0,NaN,...,NaN,2017-08-25 00:00:00,2019-08-21 00:00:00,NaN,NaN,77.0,101,NaN,23383908/19,156.0
55198,2019-21 al 27 de diciembre,BEE,-58.435554,-34.585813,AV. JUAN B. JUSTO 1579,NaN,Palermo,Comuna 14,1414.0,C1414CWE,...,NaN,2017-10-18 00:00:00,2019-10-17 00:00:00,NaN,NaN,92.0,97,NaN,31478352/19,157.0
55199,2019-21 al 27 de diciembre,FANTASY,-58.517859,-34.639008,AV. RIVADAVIA10919/23,NaN,Liniers,Comuna 9,1408.0,C1408AAJ,...,NaN,2018-03-28 00:00:00,2019-05-23 00:00:00,NaN,NaN,58.0,45,NaN,12797214/19,158.0
55200,2019-21 al 27 de diciembre,BNN(BANANA),NaN,NaN,AV. RAFAEL \nOBLIGADO6201,NaN,Belgrano,Comuna 13,1428.0,NaN,...,NaN,2018-04-13 00:00:00,2019-04-11 00:00:00,NaN,NaN,49.0,48,NaN,10450369/19,159.0
55201,2019-21 al 27 de diciembre,HOOD CLUB,-58.436476,-34.590160,AV. CORDOBA5208/5210,NaN,Villa Crespo,Comuna 15,1414.0,C1414BAX,...,NaN,2019-05-27 00:00:00,NaN,NaN,NaN,NaN,60,NaN,11847293/19,160.0

In [51]:
bailables.drop(['piso', 'codigo_postal','codigo_postal_argentino','fecha_disposicion_de_rechazo', 'fecha_envio', 'notificado', 'numero_dips', 'numero_disposicion_de_recalculo_capacidad', 'numero_disp_de_rechazo', 'numero_expediente', 'numero_registro', 'estado_observaciones', 'fecha_de_entrega_nueva_revalida', 'vencimiento', 'fecha_de_notificacion', 'fecha_disposicion_de_capacidad', 'clase', 'disposicion', 'fecha_disp_inscripcion', 'fecha_disp_re_inscripcion'], axis=1, inplace=True)

In [52]:
bailables.head()

,periodo,nombre,longitud,latitud,direccion,barrio,comuna,capacidad,estado
0,2016-SEM10,ACQUA LOUNGE,-58.363836,-34.601494,MANSO JUANA 305,PUERTO MADERO,COMUNA 01,214,INSCRIPCION VENCIDA
1,2016-SEM10,AMERIKA,-58.423558,-34.598690,GASCON 1036,ALMAGRO,COMUNA 05,2450,RENOVADO 2015
2,2016-SEM10,AMNESIA,-58.469873,-34.629937,NAZCA AV. 55,FLORES,COMUNA 07,778,RENOVADO 2015
3,2016-SEM10,ANGELÂ´S DISCO,-58.398115,-34.601096,VIAMONTE 2168,BALVANERA,COMUNA 03,425,RENOVADO 2015
4,2016-SEM10,ASBURY ROCK,-58.471661,-34.631147,RIVADAVIA AV. 7523,FLORES,COMUNA 07,216,RENOVADO 2015

In [53]:
values_count = bailables['estado'].value_counts
values_count

<bound method IndexOpsMixin.value_counts of 0        INSCRIPCION VENCIDA
1              RENOVADO 2015
2              RENOVADO 2015
3              RENOVADO 2015
4              RENOVADO 2015
                ...
55197          RENOVADO 2019
55198          RENOVADO 2019
55199          RENOVADO 2019
55200          RENOVADO 2019
55201       INSCRIPCION 2019
Name: estado, Length: 55202, dtype: object>

In [54]:
bailables = bailables.dropna(subset=['estado'])

In [55]:
bailables2 = bailables[bailables['estado'].str.contains('renovado', case=False)]
bailables2

,periodo,nombre,longitud,latitud,direccion,barrio,comuna,capacidad,estado
1,2016-SEM10,AMERIKA,-58.423558,-34.598690,GASCON 1036,ALMAGRO,COMUNA 05,2450,RENOVADO 2015
2,2016-SEM10,AMNESIA,-58.469873,-34.629937,NAZCA AV. 55,FLORES,COMUNA 07,778,RENOVADO 2015
3,2016-SEM10,ANGELÂ´S DISCO,-58.398115,-34.601096,VIAMONTE 2168,BALVANERA,COMUNA 03,425,RENOVADO 2015
4,2016-SEM10,ASBURY ROCK,-58.471661,-34.631147,RIVADAVIA AV. 7523,FLORES,COMUNA 07,216,RENOVADO 2015
5,2016-SEM10,ASIA DE CUBA,-58.364037,-34.605939,"COSSETTINI, OLGA 751",PUERTO MADERO,COMUNA 01,622,RENOVADO 2016
...,...,...,...,...,...,...,...,...,...
55196,2019-21 al 27 de diciembre,AFRIKA,-58.392393,-34.588431,JUNIN1787,Recoleta,Comuna 2,250 personas,RENOVADO 2019
55197,2019-21 al 27 de diciembre,ROSE IN RIO,NaN,NaN,AV. RAFAEL \nOBLIGADO1221,Palermo,Comuna 14,1195 personas,RENOVADO 2019
55198,2019-21 al 27 de diciembre,BEE,-58.435554,-34.585813,AV. JUAN B. JUSTO 1579,Palermo,Comuna 14,376 personas,RENOVADO 2019
55199,2019-21 al 27 de diciembre,FANTASY,-58.517859,-34.639008,AV. RIVADAVIA10919/23,Liniers,Comuna 9,1852 personas,RENOVADO 2019
55200,2019-21 al 27 de diciembre,BNN(BANANA),NaN,NaN,AV. RAFAEL \nOBLIGADO6201,Belgrano,Comuna 13,956 personas,RENOVADO 2019

In [56]:
unique_values = bailables2['comuna'].unique()
unique_values

array(['COMUNA 05', 'COMUNA 07', 'COMUNA 03', 'COMUNA 01', 'COMUNA 14',
       'COMUNA 12', 'COMUNA 02', 'COMUNA 13', 'COMUNA 10', 'COMUNA 15',
       'COMUNA 11', 'COMUNA 09', 'COMUNA 06', 'COMUNA 04', ' ',
       'Comuna 3', 'Comuna 1', 'Comuna 2', 'Comuna 12', 'Comuna 7',
       'Comuna 11', 'Comuna 13', 'Comuna 14', nan, 'Comuna 10',
       'Comuna 5', 'Comuna 6', 'Comuna 9', 'Comuna 15', 'Comuna 4'],
      dtype=object)

In [ ]:
bailables2['comuna'] = bailables2['comuna'].str.upper()

In [ ]:
bailables2['comuna'] = bailables2['comuna'].str.replace('COMUNA', '')

In [59]:
print(bailables2['comuna'].dtype)

object

In [ ]:
# Reemplazar los espacios en blanco con NaN
bailables2['comuna'].replace(' ', np.nan, inplace=True)

# Eliminar las filas con NaN
bailables2.dropna(subset=['comuna'], inplace=True)

# Ahora puedes convertir la columna a int
bailables2['comuna'] = bailables2['comuna'].astype(int)

In [ ]:
bailables2['comuna'] = bailables2['comuna'].astype(int)

In [ ]:
bailables2['comuna'] = bailables2['comuna'].astype(str).str.lstrip('0').astype(int)

In [63]:
bailables2

,periodo,nombre,longitud,latitud,direccion,barrio,comuna,capacidad,estado
1,2016-SEM10,AMERIKA,-58.423558,-34.598690,GASCON 1036,ALMAGRO,5,2450,RENOVADO 2015
2,2016-SEM10,AMNESIA,-58.469873,-34.629937,NAZCA AV. 55,FLORES,7,778,RENOVADO 2015
3,2016-SEM10,ANGELÂ´S DISCO,-58.398115,-34.601096,VIAMONTE 2168,BALVANERA,3,425,RENOVADO 2015
4,2016-SEM10,ASBURY ROCK,-58.471661,-34.631147,RIVADAVIA AV. 7523,FLORES,7,216,RENOVADO 2015
5,2016-SEM10,ASIA DE CUBA,-58.364037,-34.605939,"COSSETTINI, OLGA 751",PUERTO MADERO,1,622,RENOVADO 2016
...,...,...,...,...,...,...,...,...,...
55196,2019-21 al 27 de diciembre,AFRIKA,-58.392393,-34.588431,JUNIN1787,Recoleta,2,250 personas,RENOVADO 2019
55197,2019-21 al 27 de diciembre,ROSE IN RIO,NaN,NaN,AV. RAFAEL \nOBLIGADO1221,Palermo,14,1195 personas,RENOVADO 2019
55198,2019-21 al 27 de diciembre,BEE,-58.435554,-34.585813,AV. JUAN B. JUSTO 1579,Palermo,14,376 personas,RENOVADO 2019
55199,2019-21 al 27 de diciembre,FANTASY,-58.517859,-34.639008,AV. RIVADAVIA10919/23,Liniers,9,1852 personas,RENOVADO 2019
55200,2019-21 al 27 de diciembre,BNN(BANANA),NaN,NaN,AV. RAFAEL \nOBLIGADO6201,Belgrano,13,956 personas,RENOVADO 2019

In [64]:
values_count = bailables2['comuna'].value_counts()
values_count

comuna
14    9423
1     8188
13    2880
7     2550
3     2452
2     2435
5     1026
11     840
10     707
6      432
9      388
15     372
12     357
4      348
Name: count, dtype: int64

In [ ]:
bailables2['capacidad'] = bailables2['capacidad'].str.replace('personas', '')

In [ ]:
bailables2['capacidad'] = bailables2['capacidad'].str.replace('poersonas', '')

In [ ]:
bailables2['capacidad'].replace(' ', np.nan, inplace=True)

# Eliminar las filas con NaN
bailables2.dropna(subset=['capacidad'], inplace=True)

# Ahora puedes convertir la columna a int
bailables2['capacidad'] = bailables2['capacidad'].astype(int)

In [68]:
bailables2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32212 entries, 1 to 55200
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   periodo    32212 non-null  object
 1   nombre     32212 non-null  object
 2   longitud   32056 non-null  float64
 3   latitud    32053 non-null  float64
 4   direccion  32174 non-null  object
 5   barrio     32198 non-null  object
 6   comuna     32212 non-null  int32
 7   capacidad  32212 non-null  int32
 8   estado     32212 non-null  object
dtypes: float64(2), int32(2), object(5)
memory usage: 2.2+ MB

In [69]:
bailables2

,periodo,nombre,longitud,latitud,direccion,barrio,comuna,capacidad,estado
1,2016-SEM10,AMERIKA,-58.423558,-34.598690,GASCON 1036,ALMAGRO,5,2450,RENOVADO 2015
2,2016-SEM10,AMNESIA,-58.469873,-34.629937,NAZCA AV. 55,FLORES,7,778,RENOVADO 2015
3,2016-SEM10,ANGELÂ´S DISCO,-58.398115,-34.601096,VIAMONTE 2168,BALVANERA,3,425,RENOVADO 2015
4,2016-SEM10,ASBURY ROCK,-58.471661,-34.631147,RIVADAVIA AV. 7523,FLORES,7,216,RENOVADO 2015
5,2016-SEM10,ASIA DE CUBA,-58.364037,-34.605939,"COSSETTINI, OLGA 751",PUERTO MADERO,1,622,RENOVADO 2016
...,...,...,...,...,...,...,...,...,...
55196,2019-21 al 27 de diciembre,AFRIKA,-58.392393,-34.588431,JUNIN1787,Recoleta,2,250,RENOVADO 2019
55197,2019-21 al 27 de diciembre,ROSE IN RIO,NaN,NaN,AV. RAFAEL \nOBLIGADO1221,Palermo,14,1195,RENOVADO 2019
55198,2019-21 al 27 de diciembre,BEE,-58.435554,-34.585813,AV. JUAN B. JUSTO 1579,Palermo,14,376,RENOVADO 2019
55199,2019-21 al 27 de diciembre,FANTASY,-58.517859,-34.639008,AV. RIVADAVIA10919/23,Liniers,9,1852,RENOVADO 2019
55200,2019-21 al 27 de diciembre,BNN(BANANA),NaN,NaN,AV. RAFAEL \nOBLIGADO6201,Belgrano,13,956,RENOVADO 2019

In [ ]:
bailables2.drop(['nombre', 'periodo'], axis=1, inplace=True)

In [ ]:
bailables2.dropna(subset=['longitud', 'latitud'], inplace=True)

In [73]:
bailables2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32051 entries, 1 to 55199
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   longitud   32051 non-null  float64
 1   latitud    32051 non-null  float64
 2   direccion  32013 non-null  object
 3   barrio     32051 non-null  object
 4   comuna     32051 non-null  int32
 5   capacidad  32051 non-null  int32
 6   estado     32051 non-null  object
dtypes: float64(2), int32(2), object(3)
memory usage: 1.7+ MB

In [ ]:
bailables2['barrio'] = bailables2['barrio'].str.title()
bailables2['estado'] = bailables2['estado'].str.title()

In [75]:
bailables2

,longitud,latitud,direccion,barrio,comuna,capacidad,estado
1,-58.423558,-34.598690,GASCON 1036,Almagro,5,2450,Renovado 2015
2,-58.469873,-34.629937,NAZCA AV. 55,Flores,7,778,Renovado 2015
3,-58.398115,-34.601096,VIAMONTE 2168,Balvanera,3,425,Renovado 2015
4,-58.471661,-34.631147,RIVADAVIA AV. 7523,Flores,7,216,Renovado 2015
5,-58.364037,-34.605939,"COSSETTINI, OLGA 751",Puerto Madero,1,622,Renovado 2016
...,...,...,...,...,...,...,...
55190,-58.436432,-34.585559,GORRITI5516,Palermo,14,205,Renovado 2019
55192,-58.436459,-34.552903,SUCRE646/8,Belgrano,13,402,Renovado 2019
55196,-58.392393,-34.588431,JUNIN1787,Recoleta,2,250,Renovado 2019
55198,-58.435554,-34.585813,AV. JUAN B. JUSTO 1579,Palermo,14,376,Renovado 2019
55199,-58.517859,-34.639008,AV. RIVADAVIA10919/23,Liniers,9,1852,Renovado 2019

In [77]:
barrio_counts = bailables2['barrio'].value_counts()
print(barrio_counts)

barrio
Palermo             9341
Monserrat           3225
San Nicolas         2663
Flores              2506
Balvanera           2437
Recoleta            2420
Belgrano            1770
Almagro             1020
Constitucion         795
Floresta             703
Puerto Madero        572
Retiro               490
Villa Del Parque     474
Caballito            430
NuãEz               420
Liniers              386
Colegiales           360
Villa Pueyrredon     354
San Telmo            348
Nueva Pompeya        346
Villa Devoto         341
Villa Ortuzar        334
Nu\U00F1Ez           273
Villa Crespo          21
Flore                 14
Villa Santa Rita       7
Chacarita              1
Name: count, dtype: int64

In [ ]:
bailables2['barrio'] = bailables2['barrio'].replace('NuãEz', 'Nuñez')

In [ ]:
bailables2['barrio'] = bailables2['barrio'].replace(r'Nu\U00F1Ez', 'Nuñez')

In [82]:
barrio_counts = bailables2['barrio'].value_counts()
print(barrio_counts)

barrio
Palermo             9341
Monserrat           3225
San Nicolas         2663
Flores              2506
Balvanera           2437
Recoleta            2420
Belgrano            1770
Almagro             1020
Constitucion         795
Floresta             703
Nuñez                693
Puerto Madero        572
Retiro               490
Villa Del Parque     474
Caballito            430
Liniers              386
Colegiales           360
Villa Pueyrredon     354
San Telmo            348
Nueva Pompeya        346
Villa Devoto         341
Villa Ortuzar        334
Villa Crespo          21
Flore                 14
Villa Santa Rita       7
Chacarita              1
Name: count, dtype: int64

In [85]:
#reordenar columnas 
desired_columns = ['latitud', 'longitud', 'direccion', 'barrio', 'comuna', 'capacidad', 'estado']
bailables3 = bailables2.reindex(columns=desired_columns)

In [86]:
bailables3.head()

,latitud,longitud,direccion,barrio,comuna,capacidad,estado
1,-34.598690,-58.423558,GASCON 1036,Almagro,5,2450,Renovado 2015
2,-34.629937,-58.469873,NAZCA AV. 55,Flores,7,778,Renovado 2015
3,-34.601096,-58.398115,VIAMONTE 2168,Balvanera,3,425,Renovado 2015
4,-34.631147,-58.471661,RIVADAVIA AV. 7523,Flores,7,216,Renovado 2015
5,-34.605939,-58.364037,"COSSETTINI, OLGA 751",Puerto Madero,1,622,Renovado 2016

In [87]:
bailables3.to_csv('bailables.csv', index=False, encoding='latin1')